@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --x-pos: 0;
    --y-pos: 0;
    --rotation: 0;
}



#controls {
    position: sticky;
    top: 0;
    width: 100%;
    background: black;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}

#controls>div {
    margin-right: 1rem;
}

#controls label {
    color: white;
}



body {
    overflow: hidden;
    padding: 0;
    margin: auto;
    font-family: Mukta, sans-serif;
}

#screenContainer {
    position: absolute;
    border: 5px solid black;
    left: 50%;
    top: 50%;
    width: 1800px;
    height: 800px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#canvas {}

.tank {
    position: absolute;
    width: 50px;
}

.bullet {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    width: 10px;
}